# CMake
*.dir/
CMakeFiles/
Debug/
RelWithDebInfo/
*.cmake
!CMakeMacros.cmake
CMakeCache.txt
libCloudundancyTests/IntegrationTest_RecursiveDirectoryIterator/

# Linux
covhtml/
build_errors.txt
build.ninja
*.o
*.profdata
*.profraw

# Windows
.vs/
x64/
*.dat
*.db
*.exe
*.filters
*.i
*.ilk
*.ipch
*.lib
*.obj
*.opendb
*.pch
*.pdb
*.psess
*.slnx
*.suo
*.tmp
*.tlog
*.user
*.vcxproj
*.vspx
install_manifest.txt

# Python
__pycache__/
CodeCoverageHTMLReport/
htmlcov/
.coverage
coverage.xml
