# CMake
*.dir/
CMakeFiles/
Debug/
Release/
ReleaseCI/
*.cmake
!CMakeMacros.cmake
CMakeCache.txt

# Linux
covhtml/
build.ninja
*.o
*.profdata
*.profraw

# Windows
.vs/
x64/
*.dat
*.db
*.opendb
*.sln
!CloudundancyPyUtils.sln
*.suo
*.filters
*.i
*.ipch
*.lib
*.exe
*.obj
*.pdb
*.user
*.ilk
*.pch
*.vcxproj
*.tlog
*.tmp
*.psess
*.vspx
debug.log
install_manifest.txt

# Python
__pycache__/
CodeCoverageHTMLReport/
CloudundancyPyUtils/CloudundancyPyUtilsTests/CoberturaCodeCoverageResults_CloudundancyPyUtilsTests.xml
htmlcov/
.coverage
coverage.xml

# SonarQube
.scannerwork/

# Cppcheck
Cppcheck/files.txt
*.a1
*.a2
*.a3
*.s2
*.s4
cppcheck_results.txt
