[FORMAT]
indent-string='   '
max-line-length=130
max-args=7

[MASTER]
disable=missing-docstring,invalid-name,bad-continuation,line-too-long,no-value-for-parameter,no-member,bad-whitespace,no-self-use,multiple-imports,missing-final-newline,expression-not-assigned,wrong-import-position,broad-except

[REPORTS]
output-format=text
reports=no
